/* Write your CSS here */
.bgContainer {
  display: flex;
  background-color: black;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  min-height: 100vh;
}
.heading {
  color: #ffffff;
  font-size: 40px;
  font-family: 'Roboto';
  font-weight: 800;
  text-align: center;
}
.image {
  height: 30%;
  width: 80%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.paragraph {
  color: #ffffff;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: 800;
  text-align: center;
}

.description {
  color: #94a3b8;
  font-size: 15px;
  font-family: 'Roboto';
  align-self: center;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.accelerate {
  border-radius: 8px;
  color: #94a3b8;
  font-size: 14px;
  padding: 14px;
  margin: 15px;
  background-color: blue;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

.brake {
  border: 2px solid #94a3b8;
  border-radius: 8px;
  color: #94a3b8;
  font-size: 12px;
  padding: 13px;
  margin: 15px;
  background-color: black;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
